{% extends 'base.html' %}

{% block content %}

<script>
    function price_change(){
        var form = document.BookingForm;
        if (form.numPeople.options[form.numPeople.selectedIndex].value == "1명"){
            {% for i in info %}
            Price.innerHTML = "금액 : " + MoneySwap({{ i.people1 }}, 1) + "원";
            {% endfor %}
            return;
        }
        if (form.numPeople.options[form.numPeople.selectedIndex].value == "2명"){
            {% for i in info %}
            Price.innerHTML = "금액 : " + MoneySwap({{ i.people2 }}, 2) + "원";
            {% endfor %}
            return;
        }
        if (form.numPeople.options[form.numPeople.selectedIndex].value == "3명"){
            {% for i in info %}
            Price.innerHTML = "금액 : " + MoneySwap({{ i.people3 }}, 3) + "원";
            {% endfor %}
            return;
        }
        if (form.numPeople.options[form.numPeople.selectedIndex].value == "4명"){
            {% for i in info %}
            Price.innerHTML = "금액 : " + MoneySwap({{ i.people4 }}, 4) + "원";
            {% endfor %}
            return;
        }
        if (form.numPeople.options[form.numPeople.selectedIndex].value == "5명"){
            {% for i in info %}
            Price.innerHTML = "금액 : " + MoneySwap({{ i.people5 }}, 5) + "원";
            {% endfor %}
            return;
        }
        if (form.numPeople.options[form.numPeople.selectedIndex].value == "6명"){
            {% for i in info %}
            Price.innerHTML = "금액 : " + MoneySwap({{ i.people6 }}, 6) + "원";
            {% endfor %}
            return;
        }
    }
    function MoneySwap(mValue, num){
       var price = num * mValue;
       var temp_str = String(price);
       for(var i = 0 , retValue = String() , stop = temp_str.length; i < stop ; i++) {
        retValue = ((i%3) == 0) && i != 0 ? temp_str.charAt((stop - i) -1) + "," + retValue : temp_str.charAt((stop - i) -1) + retValue;
       }
       return retValue;
    }

</script>

{{ form.media }}
<form name="BookingForm" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container-fluid py-5 px-5" style="background-color:black">
        <h1 class="text-center text-white">BOOKING</h1>
        <h4 class="text-center pb-5" style="color:rgb(171,171,171);">예약정보 입력</h4>
        <div class="container px-5">
            <div clas="container px-5">
                <div class="container px-5">
                    <hr class="mx-5" style="border:1px solid white">
                    <div class="mx-5 px-4">
                        <table class="text-white table">
                            <tr style="border-color:black">
                                <th style="border-color:black" scope="row"><h4>예약일</h4></th>
                                <td style="border-color:black">{{ date }}</td>
                            </tr>
                            <tr style="border-color:black">
                                <th style="border-color:black" scope="row"><h4>시간</h4></th>
                                <td style="border-color:black">{{ time }}</td>
                                <td style="border-color:black"></td>
                                <td style="border-color:black"></td>
                                <td style="border-color:black"></td>
                                <td style="border-color:black"></td>
                                <td style="border-color:black"></td>
                                <td style="border-color:black"></td>
                            </tr>
                            <tr style="border-color:black">
                                <th style="border-color:black" scope="row"><h4>테마명</h4></th>
                                <td style="border-color:black">{{ theme.name }}</td>
                                <td style="border-color:black"></td>
                                <td style="border-color:black"></td>
                                <td style="border-color:black"></td>
                                <td style="border-color:black"></td>
                                <td style="border-color:black"></td>
                                <td style="border-color:black"></td>
                            </tr>
                            <tr style="border-color:black">
                                <th style="border-color:black" scope="row"><h4>예약자</h4></th>
                                <td style="border-color:black">{{ form.name }}</td>
                                <td style="border-color:black"></td>
                                <td style="border-color:black"></td>
                                <td style="border-color:black"></td>
                                <td style="border-color:black"></td>
                                <td style="border-color:black"></td>
                                <td style="border-color:black"></td>
                            </tr>
                            <tr style="border-color:black">
                                <th style="border-color:black" scope="row"><h4>연락처</h4></th>
                                <td style="border-color:black">{{ form.phone }}</td>
                                <td style="border-color:black"></td>
                                <td style="border-color:black"></td>
                                <td style="border-color:black"></td>
                                <td style="border-color:black"></td>
                                <td style="border-color:black"></td>
                                <td style="border-color:black"></td>
                            </tr>
                            <tr style="border-color:black">
                                <th style="border-color:black" scope="row"><h4>인원</h4></th>
                                <td style="border-color:black">{{ form.numPeople }}</td>
                                <td style="border-color:black"></td>
                                <td style="border-color:black"></td>
                                <td style="border-color:black"></td>
                                <td style="border-color:black"></td>
                                <td style="border-color:black"></td>
                                <td style="border-color:black"></td>
                            </tr>
                            <tr style="border-color:black">
                                <th style="border-color:black" scope="row"><h4>가격</h4></th>
                                <td style="border-color:black"><span id="Price">금액 : 40,000 원</span></td>
                            </tr>
                            <tr style="border-color:black">
                                <th style="border-color:black" scope="row"><h4>입금정보</h4></th>
                                {% for i in info %}
                                <td style="border-color:black">{{ i.bank }}</td>
                                {% endfor %}
                            </tr>
                            <tr style="border-color:black">
                                <th style="border-color:black" scope="row"><h4>예약방식</h4></th>
                                <td style="border-color:black">{{ form.depositWay }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <input class="btn btn-primary text-center" type="submit" value="완 료">
            </div>
        </div>
    </div>
</form>


{% endblock %}