{% extends 'base.html' %}

{% block content %}
{% load static %}
<style type="text/css">
    .text {
      color: gold;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color:black;
    }
    .col-5:hover .overlay {
      opacity: 0.7;
    }
</style>
<div class="container-fluid py-3" style="background-color:black">
    <!-- PC 버전 -->
    <div class="d-none d-sm-block">
        <h1 class="text-center text-white mt-4">ROOM</h1>
        <h4 class="text-center pb-4" style="color:rgb(171,171,171);">테마 소개</h4>
        <div class="container">
            <div class="container">
                <div class="container px-3">
                    {% for i in theme %}
                    <div class="row mx-4 my-4" style="background-color:rgb(51,51,51);">
                                <div class="col-5 text-center">
                                <img class="py-5 px-5" width="100%" src="{{ i.image.url }}">
                                <a href="{% url 'theme:theme_booking' today i.name %}">
                                    <div class="p-5 overlay">
                                        <div class="text"><h1>BOOKING</h1></div>
                                    </div>
                                </a>
                            </div>
                        <div class="col-7">
                            <div class="my-3">
                                <span class="font-weight-bold" style="color: gold;font-size:27pt">{{ i.name }}</span>
                                <span class="text-white font-weight-bold" style="font-size:15pt;">&nbsp;&nbsp;({{ i.genre }})</span>
                            </div>
                            <h5 class="text-white">진행시간 : 60분  &nbsp;&nbsp;&nbsp;  참여인원 : {{ i.numPeople }}</h5>
                            <h6 class="text-white">
                                난이도 : <span style="color:gold">{% if i.difficulty == 1 %} ★☆☆☆☆☆{% endif %}
                                {% if i.difficulty == 2 %} ★★☆☆☆☆{% endif %}
                                {% if i.difficulty == 3 %} ★★★☆☆☆{% endif %}
                                {% if i.difficulty == 4 %} ★★★★☆☆{% endif %}
                                {% if i.difficulty == 5 %} ★★★★★☆{% endif %}
                                {% if i.difficulty == 6 %} ★★★★★★{% endif %}
                                </span>
                                &nbsp;&nbsp;
                                공포도 : <span style="color:gold">{% if i.horror == 2 %} ●●○○○○{% endif %}
                                {% if i.horror == 3 %} ●●●○○○{% endif %}
                                {% if i.horror == 4 %} ●●●●○○{% endif %}
                                {% if i.horror == 5 %} ●●●●●○{% endif %}
                                {% if i.horror == 6 %} ●●●●●●{% endif %}</span>
                                &nbsp;&nbsp;
                                활동성 : <span style="color:gold">{% if i.activity == 1 %} ●○○○○○{% endif %}
                                {% if i.activity == 2 %} ●●○○○○{% endif %}
                                {% if i.activity == 3 %} ●●●○○○{% endif %}
                                {% if i.activity == 4 %} ●●●●○○{% endif %}
                                {% if i.activity == 5 %} ●●●●●○{% endif %}
                                {% if i.activity == 6 %} ●●●●●●{% endif %}</span>
                            </h6>
                            <br>
                            <p class="text-white mr-3" style="height:220px;">{{ i.summary|safe }}
                            </p>
                       </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- PC 버전 끝 -->

    <!-- 모바일 버전 -->
    <div class="d-block d-sm-none mx-3">
        <h4 class="text-center text-white">ROOM</h4>
        <h5 class="text-center" style="color:rgb(171,171,171);">테마 소개</h5>
        {% for i in theme %}
        <div class="row my-4">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 py-3" style="background-color:rgb(51,51,51);">
                <h5 class="font-weight-bold text-center" style="color: gold;font-size:27pt">{{ i.name }}</h5>
                <h6 class="text-white font-weight-bold text-center" style="font-size:15pt;">({{ i.genre }})</h6>
                <div class="row">
                    <div class="col-md-5 col-xs-12 text-center my-2">
                        <img width="100%" src="{{ i.image.url }}">
                    </div>
                    <div class="col-md-7">
                        <h5 class="text-white text-center">진행시간 : 60분&nbsp;&nbsp;&nbsp; 참여인원 : {{ i.numPeople }}</h5>
                        <h5 class="text-white text-center">난이도 :
                            <span style="color:gold">
                                {% if i.difficulty == 1 %} ★☆☆☆☆☆{% endif %}
                                {% if i.difficulty == 2 %} ★★☆☆☆☆{% endif %}
                                {% if i.difficulty == 3 %} ★★★☆☆☆{% endif %}
                                {% if i.difficulty == 4 %} ★★★★☆☆{% endif %}
                                {% if i.difficulty == 5 %} ★★★★★☆{% endif %}
                                {% if i.difficulty == 6 %} ★★★★★★{% endif %}</span></h5>
                        <h6 class="text-white text-center">공포도 :
                            <span style="color:gold">
                                {% if i.horror == 1 %} ●○○○○○{% endif %}
                                {% if i.horror == 2 %} ●●○○○○{% endif %}
                                {% if i.horror == 3 %} ●●●○○○{% endif %}
                                {% if i.horror == 4 %} ●●●●○○{% endif %}
                                {% if i.horror == 5 %} ●●●●●○{% endif %}
                                {% if i.horror == 6 %} ●●●●●●{% endif %}</span>
                            &nbsp;&nbsp;&nbsp;
                            활동성 :
                            <span style="color:gold">
                                {% if i.activity == 1 %} ●○○○○○{% endif %}
                                {% if i.activity == 2 %} ●●○○○○{% endif %}
                                {% if i.activity == 3 %} ●●●○○○{% endif %}
                                {% if i.activity == 4 %} ●●●●○○{% endif %}
                                {% if i.activity == 5 %} ●●●●●○{% endif %}
                                {% if i.activity == 6 %} ●●●●●●{% endif %}</span>
                        </h6>
                        <p class="text-white">{{ i.mobile_summary|safe }}</p>
                        <a class="text-center" href="{% url 'theme:theme_booking' today i.name %}" style="text-decoration:none;">
                            <div class="col-md-4 col-sm-4 col-xs-12 px-5 py-4" style="border: 2px solid white">
                                <p style="margin:0" class="text-white text-center">BOOKING</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    {% endfor %}
    </div>
    <!-- 모바일 버전 끝 -->
</div>




{% endblock %}

