{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    $(function() {
        $("#datepicker1").datepicker({
            dateFormat: 'yy-mm-dd',
            onSelect: function(dateText, inst) {
                window.location = "{% url 'theme:theme' %}" + dateText +"/{{ theme.name }}";
            }
        });
        $("#datepicker1").datepicker('setDate', 'today');
    });

    $(function() {
        {% for i in booking %}
            {% if i.time == theme.time1 %}
                $(".time1date_a").attr("href", "#");
                $(".time1date_div").attr("style", "border:1px solid #555 !important");
                $(".time1date_p").attr("style", "color: #555 !important; margin:0");
                $(".time1date_p2").attr("style", "color: #555; margin:0");
                $(".time1date_p2").html("예약 불가");
            {% endif %}
            {% if i.time == theme.time2 %}
                $(".time2date_a").attr("href", "#");
                $(".time2date_div").attr("style", "border:1px solid #555 !important");
                $(".time2date_p").attr("style", "color: #555 !important; margin:0");
                $(".time2date_p2").attr("style", "color: #555; margin:0");
                $(".time2date_p2").html("예약 불가");
            {% endif %}
            {% if i.time == theme.time3 %}
                $(".time3date_a").attr("href", "#");
                $(".time3date_div").attr("style", "border:1px solid #555 !important");
                $(".time3date_p").attr("style", "color: #555 !important; margin:0");
                $(".time3date_p2").attr("style", "color: #555; margin:0");
                $(".time3date_p2").html("예약 불가");
            {% endif %}
            {% if i.time == theme.time4 %}
                $(".time4date_a").attr("href", "#");
                $(".time4date_div").attr("style", "border:1px solid #555 !important");
                $(".time4date_p").attr("style", "color: #555 !important; margin:0");
                $(".time4date_p2").attr("style", "color: #555; margin:0");
                $(".time4date_p2").html("예약 불가");
            {% endif %}
            {% if i.time == theme.time5 %}
                $(".time5date_a").attr("href", "#");
                $(".time5date_div").attr("style", "border:1px solid #555 !important");
                $(".time5date_p").attr("style", "color: #555 !important; margin:0");
                $(".time5date_p2").attr("style", "color: #555; margin:0");
                $(".time5date_p2").html("예약 불가");
            {% endif %}
            {% if i.time == theme.time6 %}
                $(".time6date_a").attr("href", "#");
                $(".time6date_div").attr("style", "border:1px solid #555 !important");
                $(".time6date_p").attr("style", "color: #555 !important; margin:0");
                $(".time6date_p2").attr("style", "color: #555; margin:0");
                $(".time6date_p2").html("예약 불가");
            {% endif %}
            {% if i.time == theme.time7 %}
                $(".time7date_a").attr("href", "#");
                $(".time7date_div").attr("style", "border:1px solid #555 !important");
                $(".time7date_p").attr("style", "color: #555 !important; margin:0");
                $(".time7date_p2").attr("style", "color: #555; margin:0");
                $(".time7date_p2").html("예약 불가");
            {% endif %}
            {% if i.time == theme.time8 %}
                $(".time8date_a").attr("href", "#");
                $(".time8date_div").attr("style", "border:1px solid #555 !important");
                $(".time8date_p").attr("style", "color: #555 !important; margin:0");
                $(".time8date_p2").attr("style", "color: #555; margin:0");
                $(".time8date_p2").html("예약 불가");
            {% endif %}
            {% if i.time == theme.time9 %}
                $(".time9date_a").attr("href", "#");
                $(".time9date_div").attr("style", "border:1px solid #555 !important");
                $(".time9date_p").attr("style", "color: #555 !important; margin:0");
                $(".time9date_p2").attr("style", "color: #555; margin:0");
                $(".time9date_p2").html("예약 불가");
            {% endif %}
            {% if i.time == theme.time10 %}
                $(".time10date_a").attr("href", "#");
                $(".time10date_div").attr("style", "border:1px solid #555 !important");
                $(".time10date_p").attr("style", "color: #555 !important; margin:0");
                $(".time10date_p2").attr("style", "color: #555; margin:0");
                $(".time10date_p2").html("예약 불가");
            {% endif %}
        {% endfor %}
     });

    $(function() {
        var date = new Date({{ year }}, {{ month }}, {{ day }}, {{ time1_hour }}, {{ time1_min }},0);
        var today = new Date();
        if (today.getTime() > date.getTime()){
            $(".time1date_a").attr("href", "#");
            $(".time1date_div").attr("style", "border:1px solid #555 !important");
            $(".time1date_p").attr("style", "color: #555 !important; margin:0");
            $(".time1date_p2").attr("style", "color: #555; margin:0");
            $(".time1date_p2").html("예약 불가");
        }
    });
    $(function() {
        var date = new Date({{ year }}, {{ month }}, {{ day }}, {{ time2_hour }}, {{ time2_min }},0);
        var today = new Date();
        if (today.getTime() > date.getTime()){
            $(".time2date_a").attr("href", "#");
            $(".time2date_div").attr("style", "border:1px solid #555 !important");
            $(".time2date_p").attr("style", "color: #555 !important; margin:0");
            $(".time2date_p2").attr("style", "color: #555; margin:0");
            $(".time2date_p2").html("예약 불가");
        }
    });
    $(function() {
        var date = new Date({{ year }}, {{ month }}, {{ day }}, {{ time3_hour }}, {{ time3_min }},0);
        var today = new Date();
        if (today.getTime() > date.getTime()){
            $(".time3date_a").attr("href", "#");
            $(".time3date_div").attr("style", "border:1px solid #555 !important");
            $(".time3date_p").attr("style", "color: #555 !important; margin:0");
            $(".time3date_p2").attr("style", "color: #555; margin:0");
            $(".time3date_p2").html("예약 불가");
        }
    });
    $(function() {
        var date = new Date({{ year }}, {{ month }}, {{ day }}, {{ time4_hour }}, {{ time4_min }},0);
        var today = new Date();
        if (today.getTime() > date.getTime()){
            $(".time4date_a").attr("href", "#");
            $(".time4date_div").attr("style", "border:1px solid #555 !important");
            $(".time4date_p").attr("style", "color: #555 !important; margin:0");
            $(".time4date_p2").attr("style", "color: #555; margin:0");
            $(".time4date_p2").html("예약 불가");
        }
    });
    $(function() {
        var date = new Date({{ year }}, {{ month }}, {{ day }}, {{ time5_hour }}, {{ time5_min }},0);
        var today = new Date();
        if (today.getTime() > date.getTime()){
            $(".time5date_a").attr("href", "#");
            $(".time5date_div").attr("style", "border:1px solid #555 !important");
            $(".time5date_p").attr("style", "color: #555 !important; margin:0");
            $(".time5date_p2").attr("style", "color: #555; margin:0");
            $(".time5date_p2").html("예약 불가");
        }
    });
    $(function() {
        var date = new Date({{ year }}, {{ month }}, {{ day }}, {{ time6_hour }}, {{ time6_min }},0);
        var today = new Date();
        if (today.getTime() > date.getTime()){
            $(".time6date_a").attr("href", "#");
            $(".time6date_div").attr("style", "border:1px solid #555 !important");
            $(".time6date_p").attr("style", "color: #555 !important; margin:0");
            $(".time6date_p2").attr("style", "color: #555; margin:0");
            $(".time6date_p2").html("예약 불가");
        }
    });
    $(function() {
        var date = new Date({{ year }}, {{ month }}, {{ day }}, {{ time7_hour }}, {{ time7_min }},0);
        var today = new Date();
        if (today.getTime() > date.getTime()){
            $(".time7date_a").attr("href", "#");
            $(".time7date_div").attr("style", "border:1px solid #555 !important");
            $(".time7date_p").attr("style", "color: #555 !important; margin:0");
            $(".time7date_p2").attr("style", "color: #555; margin:0");
            $(".time7date_p2").html("예약 불가");
        }
    });
    $(function() {
        var date = new Date({{ year }}, {{ month }}, {{ day }}, {{ time8_hour }}, {{ time8_min }},0);
        var today = new Date();
        if (today.getTime() > date.getTime()){
            $(".time8date_a").attr("href", "#");
            $(".time8date_div").attr("style", "border:1px solid #555 !important");
            $(".time8date_p").attr("style", "color: #555 !important; margin:0");
            $(".time8date_p2").attr("style", "color: #555; margin:0");
            $(".time8date_p2").html("예약 불가");
        }
    });
    $(function() {
        var date = new Date({{ year }}, {{ month }}, {{ day }}, {{ time9_hour }}, {{ time9_min }},0);
        var today = new Date();
        if (today.getTime() > date.getTime()){
            $(".time9date_a").attr("href", "#");
            $(".time9date_div").attr("style", "border:1px solid #555 !important");
            $(".time9date_p").attr("style", "color: #555 !important; margin:0");
            $(".time9date_p2").attr("style", "color: #555; margin:0");
            $(".time9date_p2").html("예약 불가");
        }
    });
    $(function() {
        var date = new Date({{ year }}, {{ month }}, {{ day }}, {{ time10_hour }}, {{ time10_min }},0);
        var today = new Date();
        if (today.getTime() > date.getTime()){
            $(".time10date_a").attr("href", "#");
            $(".time10date_div").attr("style", "border:1px solid #555 !important");
            $(".time10date_p").attr("style", "color: #555 !important; margin:0");
            $(".time10date_p2").attr("style", "color: #555; margin:0");
            $(".time10date_p2").html("예약 불가");
        }
    });

  function moveToURL(url){
     document.location.href= url;
  }
  $(function (){
    var theme = "{{ theme.name }}";
    $("#selectBox").val("{% url 'theme:theme_booking' date theme.name %}").prop("selected", true);
  });
</script>
<div class="container-fluid py-3" style="background-color:black">
    <!-- PC 버전 -->
    <h1 id="fuck" class="d-none d-sm-block text-center text-white mt-4">BOOKING</h1>
    <h4 class="d-none d-sm-block text-center pb-4" style="color:rgb(171,171,171);">테마 예약</h4>
    <!-- 모바일 버전 -->
    <h4 class="d-block d-sm-none text-center text-white">BOOKING</h4>
    <h5 class="d-block d-sm-none text-center p-2" style="color:rgb(171,171,171);">테마 예약</h5>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 col-xs-12 mx-2">
            <div class="row p-3" style="background-color:rgb(51,51,51);">
                <div class="col-6">
                    <h5 class="m-0 text-white text-center">룸선택</h5>
                </div>
                <div class="col-6">
                    <h5 class="m-0 text-white text-center">날짜선택</h5>
                </div>
                <div class="w-100 p-1"></div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8 col-xs-12 p-1">
                            <select class="form-control" id="selectBox" name="room" onchange="moveToURL(this.value);">
                                <option value="{% url 'theme:theme_list' date %}">전체 테마</option>
                                {% for j in themes %}
                                <option id="select" value="{% url 'theme:theme_booking' date j.name %}">{{ j.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8 col-xs-12 p-1">
                            <input class="form-control" type="text" autocomplete="off" name="date" id="datepicker1" onchange="myFunction();">
                        <script>
                            $(function(){
                                $("#datepicker1").prop("value", "{{ date }}")
                            });
                        </script>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
            <!-- PC 버전 -->
            <div class="d-none d-sm-block">
                <div class="row my-4 p-3" style="background-color:rgb(51,51,51);">
                    <div class="col-lg-8 col-xs-12">
                        <h1 class="text-white">{{ theme.name }}</h1>
                        <h5 class="text-white mb-3">인원 : 최대 {{ theme.numPeople }}명</h5>
                        <div class="mb-5">
                            <span style="font-size:18px;" class="text-white">난이도 :
                                <span style="color:yellow">
                                    {% if theme.difficulty == 1 %} ★☆☆☆☆☆{% endif %}
                                    {% if theme.difficulty == 2 %} ★★☆☆☆☆{% endif %}
                                    {% if theme.difficulty == 3 %} ★★★☆☆☆{% endif %}
                                    {% if theme.difficulty == 4 %} ★★★★☆☆{% endif %}
                                    {% if theme.difficulty == 5 %} ★★★★★☆{% endif %}
                                    {% if theme.difficulty == 6 %} ★★★★★★{% endif %}
                                </span>
                                &nbsp;&nbsp;&nbsp;
                            </span>
                            <span style="font-size:18px;"class="text-white">공포도 :
                                <span style="color:yellow">{% if theme.horror == 1 %} ●○○○○○{% endif %}
                                    {% if theme.horror == 2 %} ●●○○○○{% endif %}
                                    {% if theme.horror == 3 %} ●●●○○○{% endif %}
                                    {% if theme.horror == 4 %} ●●●●○○{% endif %}
                                    {% if theme.horror == 5 %} ●●●●●○{% endif %}
                                    {% if theme.horror == 6 %} ●●●●●●{% endif %}
                                </span>
                                &nbsp;&nbsp;&nbsp;
                            </span>
                            <span style="font-size:18px;" class="text-white">활동성 :
                                <span style="color:yellow">
                                    {% if theme.activity == 1 %} ●○○○○○{% endif %}
                                    {% if theme.activity == 2 %} ●●○○○○{% endif %}
                                    {% if theme.activity == 3 %} ●●●○○○{% endif %}
                                    {% if theme.activity == 4 %} ●●●●○○{% endif %}
                                    {% if theme.activity == 5 %} ●●●●●○{% endif %}
                                    {% if theme.activity == 6 %} ●●●●●●{% endif %}
                                </span>
                                &nbsp;&nbsp;&nbsp;
                            </span>
                        </div>
                        <div class="row mt-4">
                            <div class="py-2 px-2" style="width:20%">
                                <a class="time1date_a text-white" href="{% url 'theme:booking_detail' date theme.name theme.time1 %}" style="text-decoration:none;">
                                    <div class="time1date_div py-3" style="border: 1px solid yellow;background-color:rgb(85,85,85);">
                                        <p style="margin:0" class="time1date_p text-center">{{ theme.time1 }}</p>
                                        <p style="margin:0" class="time1date_p2 text-center">예약 가능</p>
                                    </div>
                                </a>
                            </div>
                            <div class="py-2 px-2" style="width:20%">
                                <a class="time2date_a text-white" href="{% url 'theme:booking_detail' date theme.name theme.time2 %}" style="text-decoration:none;">
                                    <div class="time2date_div py-3" style="border: 1px solid yellow;background-color:rgb(85,85,85);">
                                        <p style="margin:0" class="time2date_p text-center">{{ theme.time2 }}</p>
                                        <p style="margin:0" class="time2date_p2 text-center">예약 가능</p>
                                    </div>
                                </a>
                            </div>
                            <div class="py-2 px-2" style="width:20%">
                                <a class="time3date_a text-white" href="{% url 'theme:booking_detail' date theme.name theme.time3 %}" style="text-decoration:none;">
                                    <div class="time3date_div py-3" style="border: 1px solid yellow;background-color:rgb(85,85,85);"><p style="margin:0" class="time3date_p text-center">{{ theme.time3 }}</p>
                                        <p style="margin:0" class="time3date_p2 text-center">예약 가능</p>
                                    </div>
                                </a>
                            </div>
                            <div class="py-2 px-2" style="width:20%">
                                <a class="time4date_a text-white" href="{% url 'theme:booking_detail' date theme.name theme.time4 %}" style="text-decoration:none;">
                                    <div class="time4date_div py-3" style="border: 1px solid yellow;background-color:rgb(85,85,85);">
                                        <p style="margin:0" class="time4date_p text-center">{{ theme.time4 }}</p>
                                        <p style="margin:0" class="time4date_p2 text-center">예약 가능</p>
                                    </div>
                                </a>
                            </div>
                            <div class="py-2 px-2" style="width:20%">
                                <a class="time5date_a text-white" href="{% url 'theme:booking_detail' date theme.name theme.time5 %}" style="text-decoration:none;">
                                    <div class="time5date_div py-3" style="border: 1px solid yellow;background-color:rgb(85,85,85);">
                                        <p style="margin:0" class="time5date_p text-center">{{ theme.time5 }}</p>
                                        <p style="margin:0" class="time5date_p2 text-center">예약 가능</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="py-2 px-2" style="width:20%">
                                <a class="time6date_a text-white" href="{% url 'theme:booking_detail' date theme.name theme.time6 %}" style="text-decoration:none;">
                                    <div class="time6date_div py-3" style="border: 1px solid yellow;background-color:rgb(85,85,85);">
                                        <p style="margin:0" class="time6date_p text-center">{{ theme.time6 }}</p>
                                        <p style="margin:0" class="time6date_p2 text-center">예약 가능</p>
                                    </div>
                                </a>
                            </div>
                            <div class="py-2 px-2" style="width:20%">
                                <a class="time7date_a text-white" href="{% url 'theme:booking_detail' date theme.name theme.time7 %}" style="text-decoration:none;">
                                    <div class="time7date_div py-3" style="border: 1px solid yellow;background-color:rgb(85,85,85);">
                                        <p style="margin:0" class="time7date_p text-center">{{ theme.time7 }}</p>
                                        <p style="margin:0" class="time7date_p2 text-center">예약 가능</p>
                                    </div>
                                </a>
                            </div>
                            <div class="py-2 px-2" style="width:20%">
                                <a class="time8date_a text-white" href="{% url 'theme:booking_detail' date theme.name theme.time8 %}" style="text-decoration:none;">
                                    <div class="time8date_div py-3" style="border: 1px solid yellow;background-color:rgb(85,85,85);">
                                        <p style="margin:0" class="time8date_p text-center">{{ theme.time8 }}</p>
                                        <p style="margin:0" class="time8date_p2 text-center">예약 가능</p>
                                    </div>
                                </a>
                            </div>
                            <div class="py-2 px-2" style="width:20%">
                                <a class="time9date_a text-white" href="{% url 'theme:booking_detail' date theme.name theme.time9 %}" style="text-decoration:none;">
                                    <div class="time9date_div py-3" style="border: 1px solid yellow;background-color:rgb(85,85,85);">
                                        <p style="margin:0" class="time9date_p text-center">{{ theme.time9 }}</p>
                                        <p style="margin:0" class="time9date_p2 text-center">예약 가능</p>
                                    </div>
                                </a>
                            </div>
                            <div class="py-2 px-2" style="width:20%">
                                <a class="time10date_a text-white" href="{% url 'theme:booking_detail' date theme.name theme.time10 %}" style="text-decoration:none;">
                                    <div class="time10date_div py-3" style="border: 1px solid yellow;background-color:rgb(85,85,85);">
                                        <p style="margin:0" class="time10date_p text-center">{{ theme.time10 }}</p>
                                        <p style="margin:0" class="time10date_p2 text-center">예약 가능</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <img width="100%" src="{{ theme.image.url }}">
                    </div>
                </div>
            </div>

            <!-- 모바일 버전 -->
            <div class="d-block d-sm-none my-4">
                <h3 class="text-center" style="color:rgb(230,203,88);">{{ theme.name }}</h3>
                <h5 class="text-center text-white">{{ theme.genre }}</h5>
                <p class="text-center">
                    <img class="text-center" width="95%" height="410px" src="{{ theme.image.url }}">
                </p>
                <div class="row">
                    <div class="p-2 col-6" style="width:20%">
                        <a class="time1date_a text-white" href="{% url 'theme:booking_detail' date theme.name theme.time1 %}" style="text-decoration:none;">
                            <div class="time1date_div" style="border: 1px solid yellow;background-color:rgb(85,85,85);">
                                <p style="margin:0" class="time1date_p text-center">{{ theme.time1 }}</p>
                                <p style="margin:0" class="time1date_p2 text-center">예약 가능</p>
                            </div>
                        </a>
                    </div>
                    <div class="p-2 col-6" style="width:20%">
                        <a class="time2date_a text-white" href="{% url 'theme:booking_detail' date theme.name theme.time2 %}" style="text-decoration:none;">
                            <div class="time2date_div" style="border: 1px solid yellow;background-color:rgb(85,85,85);">
                                <p style="margin:0" class="time2date_p text-center">{{ theme.time2 }}</p>
                                <p style="margin:0" class="time2date_p2 text-center">예약 가능</p>
                            </div>
                        </a>
                    </div>
                    <div class="w-100"></div>
                    <div class="p-2 col-6" style="width:20%">
                        <a class="time3date_a text-white" href="{% url 'theme:booking_detail' date theme.name theme.time3 %}" style="text-decoration:none;">
                            <div class="time3date_div" style="border: 1px solid yellow;background-color:rgb(85,85,85);"><p style="margin:0" class="time3date_p text-center">{{ theme.time3 }}</p>
                                <p style="margin:0" class="time3date_p2 text-center">예약 가능</p>
                            </div>
                        </a>
                    </div>
                    <div class="p-2 col-6" style="width:20%">
                        <a class="time4date_a text-white" href="{% url 'theme:booking_detail' date theme.name theme.time4 %}" style="text-decoration:none;">
                            <div class="time4date_div" style="border: 1px solid yellow;background-color:rgb(85,85,85);">
                                <p style="margin:0" class="time4date_p text-center">{{ theme.time4 }}</p>
                                <p style="margin:0" class="time4date_p2 text-center">예약 가능</p>
                            </div>
                        </a>
                    </div>
                    <div class="w-100"></div>
                    <div class="p-2 col-6" style="width:20%">
                        <a class="time5date_a text-white" href="{% url 'theme:booking_detail' date theme.name theme.time5 %}" style="text-decoration:none;">
                            <div class="time5date_div" style="border: 1px solid yellow;background-color:rgb(85,85,85);">
                                <p style="margin:0" class="time5date_p text-center">{{ theme.time5 }}</p>
                                <p style="margin:0" class="time5date_p2 text-center">예약 가능</p>
                            </div>
                        </a>
                    </div>
                    <div class="p-2 col-6" style="width:20%">
                        <a class="time6date_a text-white" href="{% url 'theme:booking_detail' date theme.name theme.time6 %}" style="text-decoration:none;">
                            <div class="time6date_div" style="border: 1px solid yellow;background-color:rgb(85,85,85);">
                                <p style="margin:0" class="time6date_p text-center">{{ theme.time6 }}</p>
                                <p style="margin:0" class="time6date_p2 text-center">예약 가능</p>
                            </div>
                        </a>
                    </div>
                    <div class="w-100"></div>
                    <div class="p-2 col-6" style="width:20%">
                        <a class="time7date_a text-white" href="{% url 'theme:booking_detail' date theme.name theme.time7 %}" style="text-decoration:none;">
                            <div class="time7date_div" style="border: 1px solid yellow;background-color:rgb(85,85,85);">
                                <p style="margin:0" class="time7date_p text-center">{{ theme.time7 }}</p>
                                <p style="margin:0" class="time7date_p2 text-center">예약 가능</p>
                            </div>
                        </a>
                    </div>
                    <div class="p-2 col-6" style="width:20%">
                        <a class="time8date_a text-white" href="{% url 'theme:booking_detail' date theme.name theme.time8 %}" style="text-decoration:none;">
                            <div class="time8date_div" style="border: 1px solid yellow;background-color:rgb(85,85,85);">
                                <p style="margin:0" class="time8date_p text-center">{{ theme.time8 }}</p>
                                <p style="margin:0" class="time8date_p2 text-center">예약 가능</p>
                            </div>
                        </a>
                    </div>
                    <div class="w-100"></div>
                    <div class="p-2 col-6" style="width:20%">
                        <a class="time9date_a text-white" href="{% url 'theme:booking_detail' date theme.name theme.time9 %}" style="text-decoration:none;">
                            <div class="time9date_div" style="border: 1px solid yellow;background-color:rgb(85,85,85);">
                                <p style="margin:0" class="time9date_p text-center">{{ theme.time9 }}</p>
                                <p style="margin:0" class="time9date_p2 text-center">예약 가능</p>
                            </div>
                        </a>
                    </div>
                    <div class="p-2 col-6" style="width:20%">
                        <a class="time10date_a text-white" href="{% url 'theme:booking_detail' date theme.name theme.time10 %}" style="text-decoration:none;">
                            <div class="time10date_div" style="border: 1px solid yellow;background-color:rgb(85,85,85);">
                                <p style="margin:0" class="time10date_p text-center">{{ theme.time10 }}</p>
                                <p style="margin:0" class="time10date_p2 text-center">예약 가능</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
