{% extends 'base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    $(function() {
        $("#datepicker1").datepicker({
            dateFormat: 'yy-mm-dd',
            onSelect: function(dateText, inst) {
                window.location = "{% url 'theme:theme' %}" + dateText;
            }
        });
        $("#datepicker1").datepicker('setDate', 'today');
    });
    function moveToURL(url){
        document.location.href= url;
    }

    $(function() {
        {% for i in theme %}
            var v1 ="{{ year }}" +"/" +"{{ month|add:1 }}"+"/"+"{{ day }}"+"/"+"{{ i.time1 }}"+":00";
            var today = new Date()
            var date1 = new Date(v1);
            if (today.getTime() > date1.getTime()){
                $(".time1date_a").attr("href", "#");
                $(".time1date_div").attr("style", "border:1px solid #555 !important");
                $(".time1date_p").attr("style", "color: #555 !important; margin:0");
                $(".time1date_p2").attr("style", "color: #555; margin:0");
                $(".time1date_p2").html("예약 불가");
            }
            var v2 ="{{ year }}" +"/" +"{{ month|add:1 }}"+"/"+"{{ day }}"+"/"+"{{ i.time2 }}"+":00";
            var date2 = new Date(v2);
            if (today.getTime() > date2.getTime()){
                $(".time2date_a").attr("href", "#");
                $(".time2date_div").attr("style", "border:1px solid #555 !important");
                $(".time2date_p").attr("style", "color: #555 !important; margin:0");
                $(".time2date_p2").attr("style", "color: #555; margin:0");
                $(".time2date_p2").html("예약 불가");
            }
            var v3 ="{{ year }}" +"/" +"{{ month|add:1 }}"+"/"+"{{ day }}"+"/"+"{{ i.time3 }}"+":00";
            var date3 = new Date(v3);
            if (today.getTime() > date3.getTime()){
                $(".time3date_a").attr("href", "#");
                $(".time3date_div").attr("style", "border:1px solid #555 !important");
                $(".time3date_p").attr("style", "color: #555 !important; margin:0");
                $(".time3date_p2").attr("style", "color: #555; margin:0");
                $(".time3date_p2").html("예약 불가");
            }
            var v4 ="{{ year }}" +"/" +"{{ month|add:1 }}"+"/"+"{{ day }}"+"/"+"{{ i.time4 }}"+":00";
            var date4 = new Date(v4);
            if (today.getTime() > date4.getTime()){
                $("#time4date_a").attr("href", "#");
                $(".time4date_div").attr("style", "border:1px solid #555 !important");
                $(".time4date_p").attr("style", "color: #555 !important; margin:0");
                $(".time4date_p2").attr("style", "color: #555; margin:0");
                $(".time4date_p2").html("예약 불가");
            }
            var v5 ="{{ year }}" +"/" +"{{ month|add:1 }}"+"/"+"{{ day }}"+"/"+"{{ i.time5 }}"+":00";
            var date5 = new Date(v5);
            if (today.getTime() > date5.getTime()){
                $(".time5date_div").attr("style", "border:1px solid #555 !important");
                $(".time5date_p").attr("style", "color: #555 !important; margin:0");
                $(".time5date_p2").attr("style", "color: #555; margin:0");
                $(".time5date_p2").html("예약 불가");
            }
            var v6 ="{{ year }}" +"/" +"{{ month|add:1 }}"+"/"+"{{ day }}"+"/"+"{{ i.time6 }}"+":00";
            var date6 = new Date(v6);
            if (today.getTime() > date6.getTime()){
                $(".time6date_a").attr("href", "#");
                $(".time6date_div").attr("style", "border:1px solid #555 !important");
                $(".time6date_p").attr("style", "color: #555 !important; margin:0");
                $(".time6date_p2").attr("style", "color: #555; margin:0");
                $(".time6date_p2").html("예약 불가");
            }
            var v7 ="{{ year }}" +"/" +"{{ month|add:1 }}"+"/"+"{{ day }}"+"/"+"{{ i.time7 }}"+":00";
            var date7 = new Date(v7);
            if (today.getTime() > date7.getTime()){
                $(".time7date_a").attr("href", "#");
                $(".time7date_div").attr("style", "border:1px solid #555 !important");
                $(".time7date_p").attr("style", "color: #555 !important; margin:0");
                $(".time7date_p2").attr("style", "color: #555; margin:0");
                $(".time7date_p2").html("예약 불가");
            }
            var v8 ="{{ year }}" +"/" +"{{ month|add:1 }}"+"/"+"{{ day }}"+"/"+"{{ i.time8 }}"+":00";
            var date8 = new Date(v8);
            if (today.getTime() > date8.getTime()){
                $(".time8date_a").attr("href", "#");
                $(".time8date_div").attr("style", "border:1px solid #555 !important");
                $(".time8date_p").attr("style", "color: #555 !important; margin:0");
                $(".time8date_p2").attr("style", "color: #555; margin:0");
                $(".time8date_p2").html("예약 불가");
            }
            var v9 ="{{ year }}" +"/" +"{{ month|add:1 }}"+"/"+"{{ day }}"+"/"+"{{ i.time9 }}"+":00";
            var date9 = new Date(v9);
            if (today.getTime() > date9.getTime()){
                $(".time9date_a").attr("href", "#");
                $(".time9date_div").attr("style", "border:1px solid #555 !important");
                $(".time9date_p").attr("style", "color: #555 !important; margin:0");
                $(".time9date_p2").attr("style", "color: #555; margin:0");
                $(".time9date_p2").html("예약 불가");
            }
            var v10 ="{{ year }}" +"/" +"{{ month|add:1 }}"+"/"+"{{ day }}"+"/"+"{{ i.time10 }}"+":00";
            var date10 = new Date(v10);
            if (today.getTime() > date10.getTime()){
                $(".time10date_a").attr("href", "#");
                $(".time10date_div").attr("style", "border:1px solid #555 !important");
                $(".time10date_p").attr("style", "color: #555 !important; margin:0");
                $(".time10date_p2").attr("style", "color: #555; margin:0");
                $(".time10date_p2").html("예약 불가");
            }
        {% endfor %}
    });

    $(function() {
        {% for i in booking %}
            $("a[href='{% url 'theme:booking_detail' date i.theme i.time %}'] > div").attr("style", "border:1px solid #555 !important");
            $("a[href='{% url 'theme:booking_detail' date i.theme i.time %}'] > div > p").attr("style", "color: #555 !important; margin:0");
            $("a[href='{% url 'theme:booking_detail' date i.theme i.time %}'] > div > .p2").html("예약 불가");
            $("a[href='{% url 'theme:booking_detail' date i.theme i.time %}']").attr("href", "#");
        {% endfor %}
    });

</script>
<div class="container-fluid py-3" style="background-color:black">
    <!-- PC 버전 -->
    <h1 id="fuck" class="d-none d-sm-block text-center text-white mt-4">BOOKING</h1>
    <h4 class="d-none d-sm-block text-center pb-4" style="color:rgb(171,171,171);">테마 예약</h4>
    <!-- 모바일 버전 -->
    <h4 class="d-block d-sm-none text-center text-white">BOOKING</h4>
    <h5 class="d-block d-sm-none text-center p-2" style="color:rgb(171,171,171);">테마 예약</h5>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 col-xs-12 mx-2">
            <div class="row p-3" style="background-color:rgb(51,51,51);">
                <div class="col-6">
                    <h5 class="m-0 text-white text-center">룸선택</h5>
                </div>
                <div class="col-6">
                    <h5 class="m-0 text-white text-center">날짜선택</h5>
                </div>
                <div class="w-100 p-1"></div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8 col-xs-12 p-1">
                            <select class="form-control" name="room" onchange="moveToURL(this.value);">
                                <option value="{% url 'theme:theme_list' date %}">전체 테마</option>
                                {% for j in theme %}
                                <option id="select" value="{% url 'theme:theme_booking' date j.name %}">{{ j.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8 col-xs-12 p-1">
                            <input class="form-control" type="text" autocomplete="off" name="date" id="datepicker1" onchange="myFunction();">
                        <script>
                            $(function(){
                                $("#datepicker1").prop("value", "{{ date }}")
                            });
                        </script>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
            <!-- PC 버전 -->
            {% for i in theme %}
            <div class="d-none d-sm-block">
                <div class="row my-4 p-3" style="background-color:rgb(51,51,51);">
                    <div class="col-8">
                        <h1 class="text-white">{{ i.name }}</h1>
                        <h5 class="text-white mb-3">인원 : 최대 {{ i.numPeople }}명</h5>
                        <div class="mb-5">
                            <span style="font-size:18px;" class="text-white">난이도 :
                                <span style="color:yellow">
                                    {% if i.difficulty == 1 %} ★☆☆☆☆☆{% endif %}
                                    {% if i.difficulty == 2 %} ★★☆☆☆☆{% endif %}
                                    {% if i.difficulty == 3 %} ★★★☆☆☆{% endif %}
                                    {% if i.difficulty == 4 %} ★★★★☆☆{% endif %}
                                    {% if i.difficulty == 5 %} ★★★★★☆{% endif %}
                                    {% if i.difficulty == 6 %} ★★★★★★{% endif %}
                                </span>
                                &nbsp;&nbsp;&nbsp;
                            </span>
                            <span style="font-size:18px;" class="text-white">공포도 :
                                <span style="color:yellow">
                                    {% if i.horror == 1 %} ●○○○○○{% endif %}
                                    {% if i.horror == 2 %} ●●○○○○{% endif %}
                                    {% if i.horror == 3 %} ●●●○○○{% endif %}
                                    {% if i.horror == 4 %} ●●●●○○{% endif %}
                                    {% if i.horror == 5 %} ●●●●●○{% endif %}
                                    {% if i.horror == 6 %} ●●●●●●{% endif %}
                                </span>&nbsp;&nbsp;&nbsp;
                            </span>
                            <span style="font-size:18px;" class="text-white">활동성 :
                                <span style="color:yellow">
                                    {% if i.activity == 1 %} ●○○○○○{% endif %}
                                    {% if i.activity == 2 %} ●●○○○○{% endif %}
                                    {% if i.activity == 3 %} ●●●○○○{% endif %}
                                    {% if i.activity == 4 %} ●●●●○○{% endif %}
                                    {% if i.activity == 5 %} ●●●●●○{% endif %}
                                    {% if i.activity == 6 %} ●●●●●●{% endif %}
                                </span>
                            </span>
                        </div>
                        <div class="row mt-4">
                            <div class="p-2" style="width:20%">
                                <a class="time1date_a text-white" href="{% url 'theme:booking_detail' date i.name i.time1 %}" style="text-decoration:none;">
                                    <div class="time1date_div py-3" style="border: 1px solid yellow;background-color:rgb(85,85,85);">
                                        <p style="margin:0" class="time1date_p text-center">{{ i.time1 }}</p>
                                        <p style="margin:0" class="time1date_p2 p2 text-center">예약 가능</p>
                                    </div>
                                </a>
                            </div>
                            <div class="py-2 px-2" style="width:20%">
                                <a class="time2date_a text-white" href="{% url 'theme:booking_detail' date i.name i.time2 %}" style="text-decoration:none;">
                                    <div class="time2date_div py-3" style="border: 1px solid yellow;background-color:rgb(85,85,85);">
                                        <p style="margin:0" class="time2date_p text-center">{{ i.time2 }}</p>
                                        <p style="margin:0" class="p2 time2date_p2 text-center">예약 가능</p>
                                    </div>
                                </a>
                            </div>
                            <div class="py-2 px-2" style="width:20%">
                                <a class="time3date_a text-white" href="{% url 'theme:booking_detail' date i.name i.time3 %}" style="text-decoration:none;">
                                    <div class="time3date_div py-3" style="border: 1px solid yellow;background-color:rgb(85,85,85);">
                                        <p style="margin:0" class="time3date_p text-center">{{ i.time3 }}</p>
                                        <p style="margin:0" class="time3date_p2 p2 text-center">예약 가능</p>
                                    </div>
                                </a>
                            </div>
                            <div class="py-2 px-2" style="width:20%">
                                <a class="time4date_a text-white" href="{% url 'theme:booking_detail' date i.name i.time4 %}" style="text-decoration:none;">
                                    <div class="time4date_div py-3" style="border: 1px solid yellow;background-color:rgb(85,85,85);">
                                        <p style="margin:0" class="time4date_p text-center">{{ i.time4 }}</p>
                                        <p style="margin:0" class="time4date_p2 p2 text-center">예약 가능</p>
                                    </div>
                                </a>
                            </div>
                            <div class="py-2 px-2" style="width:20%">
                                <a class="time5date_a text-white" href="{% url 'theme:booking_detail' date i.name i.time5 %}" style="text-decoration:none;">
                                    <div class="time5date_div py-3" style="border: 1px solid yellow;background-color:rgb(85,85,85);">
                                        <p style="margin:0" class="time5date_p text-center">{{ i.time5 }}</p>
                                        <p style="margin:0" class="time5date_p2 p2 text-center">예약 가능</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="py-2 px-2" style="width:20%">
                                <a class="time6date_a text-white" href="{% url 'theme:booking_detail' date i.name i.time6 %}" style="text-decoration:none;">
                                    <div class="time6date_div py-3" style="border: 1px solid yellow;background-color:rgb(85,85,85);">
                                        <p style="margin:0" class="time6date_p text-center">{{ i.time6 }}</p>
                                        <p style="margin:0" class="time6date_p2 p2 text-center">예약 가능</p>
                                    </div>
                                </a>
                            </div>
                            <div class="py-2 px-2" style="width:20%">
                                <a class="time7date_a text-white" href="{% url 'theme:booking_detail' date i.name i.time7 %}" style="text-decoration:none;">
                                    <div class="time7date_div py-3" style="border: 1px solid yellow;background-color:rgb(85,85,85);">
                                        <p style="margin:0" class="time7date_p text-center">{{ i.time7 }}</p>
                                        <p style="margin:0" class="time7date_p2 p2 text-center">예약 가능</p>
                                    </div>
                                </a>
                            </div>
                            <div class="py-2 px-2" style="width:20%">
                                <a class="time8date_a text-white" href="{% url 'theme:booking_detail' date i.name i.time8 %}" style="text-decoration:none;">
                                    <div class="time8date_div py-3" style="border: 1px solid yellow;background-color:rgb(85,85,85);">
                                        <p style="margin:0" class="time8date_p text-center">{{ i.time8 }}</p>
                                        <p style="margin:0" class="time8date_p2 p2 text-center">예약 가능</p>
                                    </div>
                                </a>
                            </div>
                            <div class="py-2 px-2" style="width:20%">
                                <a class="time9date_a text-white" href="{% url 'theme:booking_detail' date i.name i.time9 %}" style="text-decoration:none;">
                                    <div class="time9date_div py-3" style="border: 1px solid yellow;background-color:rgb(85,85,85);">
                                        <p style="margin:0" class="time9date_p text-center">{{ i.time9 }}</p>
                                        <p style="margin:0" class="time9date_p2 p2 text-center">예약 가능</p>
                                    </div>
                                </a>
                            </div>
                            <div class="py-2 px-2" style="width:20%">
                                <a class="time10date_a text-white" href="{% url 'theme:booking_detail' date i.name i.time10 %}" style="text-decoration:none;">
                                    <div class="time10date_div py-3" style="border: 1px solid yellow;background-color:rgb(85,85,85);">
                                        <p style="margin:0" class="time10date_p text-center">{{ i.time10 }}</p>
                                        <p style="margin:0" class="time10date_p2 p2 text-center">예약 가능</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <img width="100%" src="{{ i.image.url }}">
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- PC 버전 끝-->

            <!-- 모바일 버전 -->
            {% for i in theme %}
            <div class="d-block d-sm-none my-4">
                <h3 class="text-center" style="color:rgb(230,203,88);">{{ i.name }}</h3>
                <h5 class="text-center text-white">{{ i.genre }}</h5>
                <p class="text-center">
                    <img class="text-center" width="95%" height="410px" src="{{ i.image.url }}">
                </p>
                <div class="row">
                    <div class="p-2 col-6" >
                        <a class="time1date_a text-white" href="{% url 'theme:booking_detail' date i.name i.time1 %}" style="text-decoration:none;">
                            <div class="time1date_div" style="border: 1px solid yellow;background-color:rgb(85,85,85);">
                                <p style="margin:0" class="time1date_p text-center">{{ i.time1 }}</p>
                                <p style="margin:0" class="time1date_p2 p2 text-center">예약 가능</p>
                            </div>
                        </a>
                    </div>
                    <div class="p-2 col-6" style="width:20%">
                        <a class="time2date_a text-white" href="{% url 'theme:booking_detail' date i.name i.time2 %}" style="text-decoration:none;">
                            <div class="time2date_div" style="border: 1px solid yellow;background-color:rgb(85,85,85);">
                                <p style="margin:0" class="time2date_p text-center">{{ i.time2 }}</p>
                                <p style="margin:0" class="p2 time2date_p2 text-center">예약 가능</p>
                            </div>
                        </a>
                    </div>
                    <div class="w-100"></div>
                    <div class="p-2 col-6" style="width:20%">
                        <a class="time3date_a text-white" href="{% url 'theme:booking_detail' date i.name i.time3 %}" style="text-decoration:none;">
                            <div class="time3date_div" style="border: 1px solid yellow;background-color:rgb(85,85,85);">
                                <p style="margin:0" class="time3date_p text-center">{{ i.time3 }}</p>
                                <p style="margin:0" class="time3date_p2 p2 text-center">예약 가능</p>
                            </div>
                        </a>
                    </div>
                    <div class="p-2 col-6" style="width:20%">
                        <a class="time4date_a text-white" href="{% url 'theme:booking_detail' date i.name i.time4 %}" style="text-decoration:none;">
                            <div class="time4date_div" style="border: 1px solid yellow;background-color:rgb(85,85,85);">
                                <p style="margin:0" class="time4date_p text-center">{{ i.time4 }}</p>
                                <p style="margin:0" class="time4date_p2 p2 text-center">예약 가능</p>
                            </div>
                        </a>
                    </div>
                    <div class="w-100"></div>
                    <div class="p-2 col-6" style="width:20%">
                        <a class="time5date_a text-white" href="{% url 'theme:booking_detail' date i.name i.time5 %}" style="text-decoration:none;">
                            <div class="time5date_div" style="border: 1px solid yellow;background-color:rgb(85,85,85);">
                                <p style="margin:0" class="time5date_p text-center">{{ i.time5 }}</p>
                                <p style="margin:0" class="time5date_p2 p2 text-center">예약 가능</p>
                            </div>
                        </a>
                    </div>
                    <div class="p-2 col-6" style="width:20%">
                        <a class="time6date_a text-white" href="{% url 'theme:booking_detail' date i.name i.time6 %}" style="text-decoration:none;">
                            <div class="time6date_div" style="border: 1px solid yellow;background-color:rgb(85,85,85);">
                                <p style="margin:0" class="time6date_p text-center">{{ i.time6 }}</p>
                                <p style="margin:0" class="time6date_p2 p2 text-center">예약 가능</p>
                            </div>
                        </a>
                    </div>
                    <div class="w-100"></div>
                    <div class="p-2 col-6" style="width:20%">
                        <a class="time7date_a text-white" href="{% url 'theme:booking_detail' date i.name i.time7 %}" style="text-decoration:none;">
                            <div class="time7date_div" style="border: 1px solid yellow;background-color:rgb(85,85,85);">
                                <p style="margin:0" class="time7date_p text-center">{{ i.time7 }}</p>
                                <p style="margin:0" class="time7date_p2 p2 text-center">예약 가능</p>
                            </div>
                        </a>
                    </div>
                    <div class="p-2 col-6" style="width:20%">
                        <a class="time8date_a text-white" href="{% url 'theme:booking_detail' date i.name i.time8 %}" style="text-decoration:none;">
                            <div class="time8date_div" style="border: 1px solid yellow;background-color:rgb(85,85,85);">
                                <p style="margin:0" class="time8date_p text-center">{{ i.time8 }}</p>
                                <p style="margin:0" class="time8date_p2 p2 text-center">예약 가능</p>
                            </div>
                        </a>
                    </div>
                    <div class="w-100"></div>
                    <div class="p-2 col-6" style="width:20%">
                        <a class="time9date_a text-white" href="{% url 'theme:booking_detail' date i.name i.time9 %}" style="text-decoration:none;">
                            <div class="time9date_div" style="border: 1px solid yellow;background-color:rgb(85,85,85);">
                                <p style="margin:0" class="time9date_p text-center">{{ i.time9 }}</p>
                                <p style="margin:0" class="time9date_p2 p2 text-center">예약 가능</p>
                            </div>
                        </a>
                    </div>
                    <div class="p-2 col-6" style="width:20%">
                        <a class="time10date_a text-white" href="{% url 'theme:booking_detail' date i.name i.time10 %}" style="text-decoration:none;">
                            <div class="time10date_div" style="border: 1px solid yellow;background-color:rgb(85,85,85);">
                                <p style="margin:0" class="time10date_p text-center">{{ i.time10 }}</p>
                                <p style="margin:0" class="time10date_p2 p2 text-center">예약 가능</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- 모바일 버전 끝 -->
        </div>
        <div class="col-md-2"></div>
    </div>
</div>


<script>
    $(function() {
        {% for i in booking %}
            var url = "{{ i.theme.pk }}_{{ i.time }}_a text-white";
        {% endfor %}
    });
</script>
{% endblock %}
