{% extends 'base.html' %}
{% block content %}
<script>
    {% for i in faq %}
    function toggle{{ i.pk }}(){
        $(".{{ i.pk }}").toggle();
    }
    {% endfor %}
    function togle2(){
        $(".qna2").toggle();
        $(".qna1").hide();
        $(".qna3").hide();
        $(".qna4").hide();
        $(".qna5").hide();
        $(".qna6").hide();
        $(".qna7").hide();
        $(".qna8").hide();
    }function togle3(){
        $(".qna3").toggle();
        $(".qna1").hide();
        $(".qna2").hide();
        $(".qna4").hide();
        $(".qna5").hide();
        $(".qna6").hide();
        $(".qna7").hide();
        $(".qna8").hide();
    }function togle4(){
        $(".qna4").toggle();
        $(".qna1").hide();
        $(".qna2").hide();
        $(".qna3").hide();
        $(".qna5").hide();
        $(".qna6").hide();
        $(".qna7").hide();
        $(".qna8").hide();
    }function togle5(){
        $(".qna5").toggle();
        $(".qna1").hide();
        $(".qna2").hide();
        $(".qna3").hide();
        $(".qna4").hide();
        $(".qna6").hide();
        $(".qna7").hide();
        $(".qna8").hide();
    }function togle6(){
        $(".qna6").toggle();
        $(".qna1").hide();
        $(".qna2").hide();
        $(".qna3").hide();
        $(".qna4").hide();
        $(".qna5").hide();
        $(".qna7").hide();
        $(".qna8").hide();
    }function togle7(){
        $(".qna7").toggle();
        $(".qna1").hide();
        $(".qna2").hide();
        $(".qna3").hide();
        $(".qna4").hide();
        $(".qna5").hide();
        $(".qna6").hide();
        $(".qna8").hide();
    }function togle8(){
        $(".qna8").toggle();
        $(".qna1").hide();
        $(".qna2").hide();
        $(".qna3").hide();
        $(".qna4").hide();
        $(".qna5").hide();
        $(".qna6").hide();
        $(".qna7").hide();
    }
</script>
<!-- PC -->
<div class="d-none d-sm-block container-fluid py-3" style="background-color:black;">
    <h1 class="text-center text-white mt-4">FAQ</h1>
    <h4 class="text-center mb-5" style="color:rgb(171,171,171);">자주묻는 질문</h4>
    {% for i in faq %}
    <div class="row mb-3">
        <div class="col-2"></div>
        <div style="border:1px solid gold" class="col-8 p-0">
            <div class="container">
                <div class="row">
                    <div style="background-color:gray;" class="col-1 p-0">
                        <h2 style="color:gold" class="text-center m-0 font-weight-bold">Q.</h2>
                    </div>
                    <div class="col-10 p-0 text-white">
                        <h5 class="my-2 ml-3">{{ i.question }}</h5>
                    </div>
                    <div class="col-1 p-0">
                        <a href="javascript:toggle{{ i.pk }}();"><button style="width:100%;height:100%;border-color:gold" type="button" class="btn btn-outline-light">▼</button></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 px-0">
                        <div class="{{ i.pk }} p-4" style="display:none;background-color:white;">
                            A.
                            <br>
                            {{ i.answer|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    {% endfor %}
</div>

<!-- 모바일 -->
<div class="d-block d-sm-none container-fluid py-3" style="background-color:black;">
    <h1 class="text-center text-white mt-4">FAQ</h1>
    <h4 class="text-center mb-5" style="color:rgb(171,171,171);">자주묻는 질문</h4>
    <div class="container">
        {% for i in faq %}
        <div class="row" style="border:1px solid gold">
            <div style="background-color:gray;" class="col-2 p-0">
                <h4 style="color:gold;line-height:60px" class="text-center m-0 font-weight-bold">Q.</h4>
            </div>
            <div class="col-8 p-0 text-white">
                <h6 class="py-3 px-2">{{ i.question }}</h6>
            </div>
            <div class="col-2 p-0">
                <a href="javascript:toggle{{ i.pk }}();"><button style="width:100%;height:100%;border-color:gold" type="button" class="btn btn-outline-light">▼</button></a>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12 px-0">
                <div class="{{ i.pk }} p-4" style="display:none;background-color:white;">
                    A.
                    <br>
                    {{ i.answer|safe }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}