{% extends 'base.html' %}
{% block content %}
<script>
    function evn(){
        {% for i in FAQ_list %}
        if($("#a{{ i.pk }}").css("display") == "none"){
            $("#a{{ i.pk }}").show();
        }else{
            $("#a{{ i.pk }}").hide();
        }
        {% endfor %}
    }
</script>
<div class="d-none d-sm-block container-fluid py-3" style="background-color:black;">
    <h1 class="text-center text-white mt-4">FAQ</h1>
    <h4 class="text-center" style="color:rgb(171,171,171);">자주묻는 질문</h4>
    <!--{% for i in FAQ_list %}-->
    <!--<div class="row">-->
        <!--<div class="col-3"></div>-->
        <!--<div class="col-6">-->
            <!--<div class="dropdown" style="border:1px solid gold">-->
                <!--<button style="width:100%" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">-->
                    <!--<div class="d-flex justify-content-between">-->
                    <!--<span style="font-size:2rem;">Q. </span>-->
                    <!--<span style="font-size:2rem;">{{ i.title }}</span>-->
                    <!--</div>-->
                <!--</button>-->
                <!--<div style="width:100%;background-color:black" class="dropdown-menu">-->
                    <!--<p class="text-white">{{ i.text }}</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-3"></div>-->
    <!--</div>-->
    <!--{% endfor %}-->

</div>

<div class="d-block d-sm-none container-fluid py-3" style="background-color:black;">
    <h4 class="text-center text-white ">FAQ</h4>
    <h5 class="text-center mb-4" style="color:rgb(171,171,171);">자주묻는 질문</h5>
    <!--{% for i in FAQ_list %}-->
        <!--<div class="row" style="border:1px solid gray;">-->
            <!--<div class="col-2" style="background-color:gray;">-->
                <!--<h4 style="color:gold;" class="text-center m-1">Q.</h4>-->
            <!--</div>-->
            <!--<div class="col-8">-->
                <!--<h5 class="text-white m-2">{{ i.title }}</h5>-->
            <!--</div>-->
            <!--<div class="col-2">-->
                <!--<a href="javascript:evn();" style="text-decoration:none"><button type="button" class="btn btn-outline-secondary ">▼</button></a>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="col-12 p-0">-->
                <!--<div style="background-color:gray;display:none;" class="eventID">-->
                    <!--<h6 class="text-black px-3 py-3">{{ i.text }}</h6> &lt;!&ndash; 내용 &ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="dropdown">-->
          <!--<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!--Dropdown button-->
          <!--</button>-->
          <!--<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
            <!--<a class="dropdown-item" href="#">Action</a>-->
            <!--<a class="dropdown-item" href="#">Another action</a>-->
            <!--<a class="dropdown-item" href="#">Something else here</a>-->
          <!--</div>-->
        <!--</div>-->
    <!--{% endfor %}-->
</div>
{% endblock %}