{% extends 'base.html' %}

{% block content %}
{% load static %}
{% for i in info %}
<script>
    function MoneySwap(price){
       var temp_str = String(price);
       for(var i = 0 , retValue = String() , stop = temp_str.length; i < stop ; i++) {
        retValue = ((i%3) == 0) && i != 0 ? temp_str.charAt((stop - i) -1) + "," + retValue : temp_str.charAt((stop - i) -1) + retValue;
       }
       return retValue;
    }
    $(function() {
        {% for i in info %}
            $(".price_2").html(MoneySwap({{ i.people2 }})+'원 '+'/ '+MoneySwap({{ i.people2|add:2000 }})+'원');
            $(".price_3").html(MoneySwap({{ i.people3 }})+'원 '+'/ '+MoneySwap({{ i.people3|add:2000 }})+'원');
            $(".price_4").html(MoneySwap({{ i.people4 }})+'원 '+'/ '+MoneySwap({{ i.people4|add:2000 }})+'원');
            $(".price_5").html(MoneySwap({{ i.people5 }})+'원 '+'/ '+MoneySwap({{ i.people5|add:2000 }})+'원');
            $(".price_6").html(MoneySwap({{ i.people6 }})+'원 '+'/ '+MoneySwap({{ i.people6|add:2000 }})+'원');
            $(".price_m").html(MoneySwap({{ i.middleHigh }})+'원 '+'/ '+MoneySwap({{ i.middleHigh|add:2000 }})+'원');
            $(".price_e").html(MoneySwap({{ i.elementary }})+'원 '+'/ '+MoneySwap({{ i.elementary|add:2000 }})+'원');
            $(".m_price_2").html(MoneySwap({{ i.people2 }}));
            $(".m_price_3").html(MoneySwap({{ i.people3 }}));
            $(".m_price_4").html(MoneySwap({{ i.people4 }}));
            $(".m_price_5").html(MoneySwap({{ i.people5 }}));
            $(".m_price_6").html(MoneySwap({{ i.people6 }}));
            $(".m_price_m").html(MoneySwap({{ i.middleHigh }}));
            $(".m_price_e").html(MoneySwap({{ i.elementary }}));
            $(".m_card_2").html(MoneySwap({{ i.people2|add:2000 }}));
            $(".m_card_3").html(MoneySwap({{ i.people3|add:2000 }}));
            $(".m_card_4").html(MoneySwap({{ i.people4|add:2000 }}));
            $(".m_card_5").html(MoneySwap({{ i.people5|add:2000 }}));
            $(".m_card_6").html(MoneySwap({{ i.people6|add:2000 }}));
            $(".m_card_m").html(MoneySwap({{ i.middleHigh|add:2000 }}));
            $(".m_card_e").html(MoneySwap({{ i.elementary|add:2000 }}));
        {% endfor %}
    })

</script>
<div class="container-fluid py-3" style="background-color:black">
    <!-- PC 버전 -->
    <div class="d-none d-sm-block">
        <h1 class="text-center text-white mt-4">{{ i.name }}</h1>
        <h4 class="text-center pb-5" style="color:rgb(171,171,171);">이용안내</h4>
        <div class="container">
            <div class="container">
                <div class="container px-3">
                <p class="text-center text-white">
                    온라인에서 즐기던 방 탈출 게임을 실제상황처럼 참가자가 특별한 테마 룸에 갇혀<br>
                    주어진 시간 60분 이내로 미션을 해결하여 탈출하여야 합니다.<br>
                    <br>
                    {{ i.name }}에서 {{ i.roomNum }}가지의 테마를 경험해보세요!
                </p>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="container">
                <div class="row my-5">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 col-sm-12">
                        <table class="table table-bordered text-center" cellpadding=0 cellspacing=0 border=0>
                            <thead>
                                <tr style="background:#fff; color:#222">
                                    <td style="border-right:1px solid #222">인원수</td>
                                    <td style="border-right:1px solid #222">현금 / 카드(인당)</td>
                                    <td>가격이벤트</td>
                                </tr>
                            </thead>
                            <tbody class="text-white">
                                <tr>
                                </tr>
                                <tr>
                                    <td>2명</td>
                                    {% for i in info %}
                                    <td class="price_2"></td>
                                    {% endfor %}
                                    <td rowspan="7" style="text-align:left; padding-left:15px">
                                        <div class="my-5">
                                            {{ i.event|safe }}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3명</td>
                                    {% for i in info %}
                                    <td class="price_3">{{ i.people3 }}원 / {{ i.people3|add:2000 }}원</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>4명</td>
                                    {% for i in info %}
                                    <td class="price_4">{{ i.people4 }}원 / {{ i.people4|add:2000 }}원</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>5명</td>
                                    {% for i in info %}
                                    <td class="price_5">{{ i.people5 }}원 / {{ i.people5|add:2000 }}원</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>6명</td>
                                    {% for i in info %}
                                    <td class="price_6">{{ i.people6 }}원 / {{ i.people6|add:2000 }}원</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>중.고등</td>
                                    {% for i in info %}
                                    <td class="price_m">{{ i.middleHigh }}원 / {{ i.middleHigh|add:2000 }}원</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>초등부</td>
                                    {% for i in info %}
                                    <td class="price_e">{{ i.elementary }}원 / {{ i.elementary|add:2000 }}</td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- PC 버전 끝 -->
    <!-- 모바일 버전 -->
    <div class="d-block d-sm-none">
        <h4 class="text-center text-white">{{ i.name }}</h4>
        <h5 class="text-center pb-3" style="color:rgb(171,171,171);">이용안내</h5>
        <div class="container mb-5">
            <p class="text-center text-white" style="font-size:0.9rem">
                온라인에서 즐기던 방 탈출 게임을 실제상황처럼<br> 참가자가 특별한 테마 룸에 갇혀
                주어진 시간 60분 <br>이내로 미션을 해결하여 탈출하여야 합니다.<br><br>
                {{ i.name }}에서 {{ i.roomNum }}가지의 테마를 경험해보세요!
            </p>
        </div>
        <h5 class="text-center text-white m-3">요금 안내</h5>
        <table style="font-size:0.7rem;" class="table table-bordered text-center" cellpadding=0 cellspacing=0 border=0>
            <thead>
            <tr style="background:#fff; color:#222">
                <td style="width:55px; border-right:1px solid #222;">인원수</td>
                <td style="border-right:1px solid #222">현금</td>
                <td style="border-right:1px solid #222">현금</td>
                <td>가격이벤트</td>
            </tr>
            </thead>
            <tbody class="text-white">
            <tr>
                <td>2명</td>
                {% for i in info %}
                <td class="m_price_2"></td>
                {% endfor %}
                <td class="m_card_2"></td>
                <td rowspan="7" style="text-align:left; padding-left:15px">
                    <div class="mt-5">
                        {{ i.event|safe }}
                    </div>
                </td>
            </tr>
            <tr>
                <td>3명</td>
                {% for i in info %}
                <td class="m_price_3">{{ i.people3 }}원 / {{ i.people3|add:2000 }}원</td>
                {% endfor %}
                <td class="m_card_3"></td>
            </tr>
            <tr>
                <td>4명</td>
                {% for i in info %}
                <td class="m_price_4">{{ i.people4 }}원 / {{ i.people4|add:2000 }}원</td>
                {% endfor %}
                <td class="m_card_4"></td>
            </tr>
            <tr>
                <td>5명</td>
                {% for i in info %}
                <td class="m_price_5">{{ i.people5 }}원 / {{ i.people5|add:2000 }}원</td>
                {% endfor %}
                <td class="m_card_5"></td>
            </tr>
            <tr>
                <td>6명</td>
                {% for i in info %}
                <td class="m_price_6">{{ i.people6 }}원 / {{ i.people6|add:2000 }}원</td>
                {% endfor %}
                <td class="m_card_6"></td>
            </tr>
            <tr>
                <td class="px-0">중.고등</td>
                {% for i in info %}
                <td class="m_price_m">{{ i.middleHigh }}원 / {{ i.middleHigh|add:2000 }}원</td>
                {% endfor %}
                <td class="m_card_m"></td>

            </tr>
            <tr>
                <td class="px-0">초등부</td>
                {% for i in info %}
                <td class="m_price_e">{{ i.elementary }}원 / {{ i.elementary|add:2000 }}</td>
                {% endfor %}
                <td class="m_card_e"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="d-block d-sm-none container-fluid py-3">
        <h4 class="text-center text-white mb-3">주의 사항</h4>
        <div class="row">
            <div class="col-6 text-center">
                <img src="{% static 'image/1.png' %}">
                <p style="font-size:0.7rem" class="text-white my-3">
                    입장 전 주의사항 설명, 테마설명 등 기본 숙지사항을 안내드립니다.
                    원활한 게임 진행을 위하여
                    예약시간 10분전에 매장에 도착하여
                    간단한 안내를 받으시기 바랍니다.
                </p>
            </div>
            <div class="col-6 text-center">
                <img src="{% static 'image/2.png' %}">
                <p style="font-size:0.7rem" class="text-white my-3">
                    폐쇄된 특정 공간에서 이루어지는
                    추리탈출 테마시설로 폐쇄공포증이 있거나
                    노약자, 임산부, 음주자, 또한 13세 이하의
                    어린이는 보호자 동반시 참여 가능 합니다.
                </p>
            </div>
            <div class="w-100"></div>
            <div class="col-6 text-center">
                <img src="{% static 'image/3.png' %}">
                <p style="font-size:0.7rem" class="text-white my-3">
                    소품과 컨텐츠는 외부로 유출 불가합니다.
                    게임참여시 기밀유지에 동의하는
                    것으로간주되며 테마룸 입장 전
                    핸드폰, 카메라, 필기도구 등은 준비된
                    보관함에 보관하시게 됩니다.
                </p>
            </div>
            <div class="col-6 text-center">
                <img src="{% static 'image/4_1.png' %}">
                <p style="font-size:0.7rem" class="text-white my-3">
                    고객의 안전을 위해 CCTV와
                    인터폰이 설치되어 있습니다.
                    휴대하신 라이터, 칼 등 위험물품은
                    게임을 이용하시기 전에 보관함에
                    보관하시기 바랍니다.
                </p>
            </div>
        </div>
    </div>

    <div class="d-block d-sm-none container-fluid py-3">
        <h4 class="text-center text-white mb-3">오시는 길</h4>
        <div style="background-color:rgb(51,51,51);">
            {% for i in info %}
                <iframe src="{{ i.map }}" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen=""></iframe>
            {% endfor %}
        </div>
    </div>
    <!-- 모바일 버전 끝-->
</div>
{% endfor %}
{% endblock %}