{% extends 'base.html' %}
{% block content %}
<div class="d-none d-sm-block container-fluid py-3 px-5" style="background-color:black">
    <h1 class="text-center text-white mt-4">Q&A</h1>
    <h4 class="text-center" style="color:rgb(171,171,171);">문의하기</h4>
    <div class="container text-white">
        <div class="row">
            <div style="border:1px solid white;" class="col-xl-9 text-center py-3">
                <h1>{{ board_detail.title }}</h1>
            </div>
            <div style="border:3px solid white;" class="col-xl-3 text-center py-4">
                <h5>{{ board_detail.created_date }}</h5>
            </div>
        </div>
        <div style="border:1px solid white;" class="row">
            <div class="col-xl-12">
                <p>{{ board_detail.text|safe }}</p> <!-- 내용 -->
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 px-0">
                {% for i in comment %}
                <div class="px-3 py-3" style="border:3px solid white">
                    <h4>{{ i.writer }}</h4>
                    <h5 style="padding-left:2%;">└{{i.text|safe}}</h5>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- 이분부터 추가한 부분-->
        <div style="border:3px solid white" class="row px-3 py-3">
            <form method="post" action="">
                {% csrf_token %}
                {{ form.writer }}
                {{ form.text }}
                <br/>
                <button type="submit" class="btn btn-outline-dark text-white">작성</button>
            </form>
        </div>
    </div>
    
</div>
{% endblock %}