{% extends 'base.html' %}
{% block content %}
{{ form.media }}

<!-- PC 버전 -->
<div class="d-none d-sm-block container-fluid py-3 px-5" style="background-color:black">
    <h1 class="text-center text-white mt-4">Q&A</h1>
    <h4 class="text-center" style="color:rgb(171,171,171);">문의하기</h4>
    <div class="container" style="padding:4% 10%">
        <form method="post" action="">
            {% csrf_token %}
            <table class="table table-bordered text-white">
            {{ form|safe }}
            </table>
            <div class="d-flex justify-content-end">
                <button type="submit">작성</button>
            </div>
        </form>
    </div>
</div>

<!-- 모바일 버전 -->
<div class="d-block d-sm-none container-fluid py-3 px-5" style="background-color:black">
    <h1 class="text-center text-white mt-4">Q&A</h1>
    <h5 class="text-center" style="color:rgb(171,171,171);">문의하기</h5>
    <form method="post" action="">
        {% csrf_token %}
        <table class="table table-bordered text-white">
            {{ form|safe }}
        </table>
        <div class="d-flex justify-content-end">
            <button type="submit">작성</button>
        </div>
    </form>
</div>

{% endblock %}