{% extends 'base.html' %}
{% block content %}


<!-- PC 버전 -->
<div class="d-none d-sm-block container-fluid py-3 px-5" style="background-color:black">
    <h1 class="text-center text-white mt-4">Q&A</h1>
    <h4 class="text-center" style="color:rgb(171,171,171);">문의하기</h4>
    <div class="container" style="padding:4% 10%">
        <table class="table table-bordered text-white">
            <thead style="text-align:center">
                <tr>
                    <th style="width:10%" scope="col">번호</th>
                    <th scope="col">제목</th>
                    <th style="width:13%" scope="col">작성자</th>
                    <th style="width:13%" scope="col">작성일자</th>
                </tr>
            </thead>
            <tbody>
                {%for i in board_list %}
                <tr>
                    <td class="text-center">{{ i.id }}</th>
                    <td><a style="color:white;text-decoration:none" href="{{ i.id }}">{{ i.title }}</a></td>
                    <td class="text-center">{{ i.writer }}</td>
                    <td class="text-center  px-0">{{ i.created_date|date:"Y-m-d" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-end">
            <a href="{% url 'bulletinboard:board_new' %}"><button type="button" class="btn btn-outline-light">글올리기</button></a>
        </div>
    </div>
</div>

<!-- 모바일 버전 -->
<div class="d-block d-sm-none container-fluid py-3" style="background-color:black">
    <h4 class="text-center text-white">Q&A</h4>
    <h5 class="text-center mb-4" style="color:rgb(171,171,171);">문의하기</h5>
    <table class="table table-bordered text-white">
        <thead style="text-align:center">
        <tr>
            <th style="width:15%; font-size:0.7rem" scope="col">번호</th>
            <th style="font-size:0.7rem" scope="col">제목</th>
            <th style="width:15%;font-size:0.7rem" scope="col">작성자</th>
            <th style="width:20%;font-size:0.7rem" scope="col">작성일자</th>
        </tr>
        </thead>
        <tbody>
        {%for i in board_list %}
        <tr>
            <td style="font-size:0.6rem" class="text-center">{{ i.id }}</th>
            <td style="font-size:0.6rem"><a style="color:white;text-decoration:none" href="{{ i.id }}">{{ i.title }}</a></td>
            <td style="font-size:0.6rem" class="text-center">{{ i.writer }}</td>
            <td style="font-size:0.5rem" class="text-center px-0">{{ i.created_date|date:"Y-m-d" }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="d-flex justify-content-end">
        <a href="{% url 'bulletinboard:board_new' %}"><button type="button" class="btn btn-outline-light">글올리기</button></a>
    </div>
</div>
{% endblock %}